In [10]:
import pandas as pd

In [11]:
df=pd.read_csv("/home/aniketsuthar/Documents/PROJECTS/Astra_DB/docs/social_media_engagement_data_sorted.csv")

In [12]:
df.head(5)

,Platform,Post_ID,Post_Type,Post_Content,Post_Timestamp,Likes,Comments,Shares,Impressions,Reach,Engagement Rate,Date,Time of Day
0,Facebook,027c4df2-e0c8-4728-87f1-efd60fc85d23,Video,Wonder value over drop position position admit.,2021-03-08 19:13:37,578,360,90,6060,3725,27.60,2021-03-08,Evening
1,Facebook,4cb0df96-7974-4c5c-b7b6-8bf050b85623,Video,Pay young poor talk.,2021-03-08 19:18:21,596,490,52,2499,4229,26.91,2021-03-08,Evening
2,Twitter,34f4b2a8-5616-440e-a2ce-0ef3bf445196,Video,Hope decide education much.,2021-03-08 20:43:27,878,359,87,4272,3368,39.31,2021-03-08,Evening
3,Facebook,51c6187d-ff6e-44dd-a179-a6e72156f8b5,Video,Shake question remember now.,2021-03-08 21:15:48,766,371,46,5247,2477,47.76,2021-03-08,Night
4,Instagram,ef618191-8f9b-48b4-a483-0fb69c82f002,Video,Blood market spend design claim form claim fin...,2021-03-08 22:16:45,332,189,83,7922,3560,16.97,2021-03-08,Night

In [13]:
df=df.sample(10000)

In [14]:
df=pd.DataFrame(df)

In [15]:
df.to_csv("output.csv")